body {
  font-family: Trebuchet MS, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(221, 217, 217, 0);
  filter: blur(10px); /* Adjust the blur amount as needed */
  z-index: -1; /* Places the background behind the content */
}

input[type="text"]:focus,
        textarea:focus {
            border: 2px solid #013050; /* Change the color to your desired highlight color */
            outline: none; /* Remove the default focus outline */
        }
h1, h2 , h3{
  color: #333;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.169);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
 
}

button:hover {
  background-color: #2980b9;
}

.options-container {
  text-align: center;
  margin-top: 20px;
}

.option-button {
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 10px;
  width: 120px;
  height: 20px;

}

.option-button:hover {
  background-color: #2980b9;
}

/* Center the button */
.options-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px; /* Adjust the margin-top as needed */
}
