<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUGatePassLogin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
       <h1><img src="{{ url_for('static', filename='anuraguniversity.png') }}" ></h1>
	 <h1> AU Gatepass Login </h1>
        <form action="{{ url_for('auth.login') }}" method="post" class="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" name="login_type" value="student">Student Login</button>
            <button type="submit" name="login_type" value="faculty">Faculty Login</button>
            <button type="submit" name="login_type" value="security">Security Login</button>
        </form>
    </div>
</body>
</html>
