<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
</head>
<body>
    <h1>Requests Statistics</h1>
    <form action="/stats" method="post">
        <label for="student_id">Enter Student ID:</label>
        <input type="text" id="student_id" name="student_id">
        <button type="submit">Submit</button>
    </form>
    {% if plot_url1 %}
        <h2>All Requests Received by Date</h2>
        <img src="data:image/png;base64,{{ plot_url1 }}" alt="Requests Graph">
    {% endif %}
    {% if plot_url2 %}
        <h2>Requests Received by Date for Student ID: {{ student_id }}</h2>
        <img src="data:image/png;base64,{{ plot_url2 }}" alt="Requests Graph">
    {% endif %}
</body>
</html>
