<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
        <style>
        .options-container {
            display: flex;
            justify-content: center;
        }
    </style>
	
</head>
<body>
    <br><br><br>
	<form action="{{ url_for('student') }}" method="post">
	<h1>Welcome {{ session.name }}</h1>
    	<h3>Submit New Request</h2>
        <label for="reason">Reason</label>
        <textarea id="reason" name="reason" required></textarea><br>
        <button type="submit">Submit Request</button>

    </form>

    <div class="options-container">
        <a class="option-button" href="{{ url_for('view_requests') }}">View Requests</a>
        <a class="option-button" href="{{ url_for('stats2') }}">Statistics</a>
        <a class="option-button" href="{{ url_for('change') }}">Change Password</a>
        <a class="option-button" href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
