<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitors Log View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="top-right-buttons">

<form action="{{ url_for('security') }}" method="get">
        <button type="submit">Back To Home</button>
    </form> 
</div>
    <h1>Visitors Log View</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Reason</th>
                <th>Number</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for visitor in visitors %}
                <tr>
                    <td>{{ visitor['name'] }}</td>
                    <td>{{ visitor['reason'] }}</td>
                    <td>{{ visitor['number'] }}</td>
                    <td>{{ visitor['datetime'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
